/* Arredondamento personalizado para logos */
.logo-rounded {
  border-radius: 50%;
}

/* Estilização customizada para o botão ativo, se desejar */
nav a.active {
  background-color: #166534; /* verde mais escuro */
  font-weight: bold;
}
